.about {
	background: $yellow;
	position: relative;
	z-index: 9997;
}

.about-flex {
	display: flex; 
	flex-flow: row wrap;
	position: relative;
	padding: 10rem 10rem 16rem;

	@media (max-width: 1150px) {
		padding: 10rem 8rem 16rem;
	}

	@media (max-width: 850px) {
		padding: 10rem 6rem 16rem;
	}

	@media (max-width: 750px) {
		display: block;
	}

	@media (max-width: 400px) {
		padding: 2rem;
	}

	.biography-quote {
		flex: 1 0 28%;
		flex-flow: row wrap;

		margin: 0;
		padding: 3rem;
		position: relative;
		left: -13rem;
		background: $blue;
		order: -1;
		// Have to put a height to maintain the dimension of the div
		height: 100%;

		@media (max-width: 1150px){
			flex: 1 0 35%;
		}	

		@media (max-width: 750px) {
			width: 60%;
			display: block;
			top: -4rem;
			left: 0rem;
			order: 1;
		}

		@media (max-width: 400px) {
			width: 100%;
			top: 0;
			right: 0;
			left: 0;
		}

		p {
			position: relative;
			z-index: 200;
		}
	}

	.biography-background{
		@media (max-width: 400px) {
			display: none;
		}	
	}

	.biography-background span{
		position: absolute;
		margin: 0;
		padding: 0;
		top: 0;
		transform: rotate(180deg);
	}

	.biography-background span:first-child {
		bottom: 13rem;
		right: 0rem;
	}

	.biography-background span:nth-child(2){
		transform: rotate(0deg);
		top: 13rem;	
		left: 0rem;		
	}
	
	.biography-content {
		// flex: 1 0 70%;
		width: 70%;
		margin: 0;
		padding: 5rem;
		position: relative;
		box-shadow: 1rem 1rem 1.1rem rgba(0,0,0,0.08);
		background: $white;

		@media (max-width: 1150px) {
			// flex: 1 0 65%;
			width: 65%;
			margin: 0.5rem auto;
		}

		@media (max-width: 750px) {
			// flex: 1 0 70%;
			width: 70%;
			margin-left: 6rem;
		}

		@media (max-width: 400px) {
			display: block;
			width: 100%;
			margin: 0.5rem;
			padding: 3rem;
		}	
	}
}