// CONTACT FORM AND TEXT
.contact {
	background: $blue;
	position: relative;
}

// GENERAL STYLING
.contact-flex {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 4rem 0;

	@media (max-width: 850px) {
		display: block;
		margin: 0 auto;
	}
}

.form-text, .form-container {
	flex: 1 0 50%;
	padding: 2rem;

	@media (max-width: 850px) {
		display: block;
	}
}

.form-container {
	@media (max-width: 540px) {
		padding: 0;
	}

	form {
		padding: 2rem;
		
		@media (max-width: 850px) {
			padding: 0;
			width: 60%;
			margin: 0 auto;
		}

		@media (max-width: 540px) {
			display: block;
			width: 100%;
			padding: 0 8rem;
		}
	}

	.wpcf7 {
		width: 100%;
	}
}

// STYLING OF THE TEXT
.form-text {
	position: relative;
	padding: 0 12rem;

	@media (max-width: 1100px) {
		padding: 0 8rem;
	}

	@media (max-width: 850px) {
		display: block;
		width: 50%;
		margin: 0 auto;
		padding: 0;
	}
	@media (max-width: 800px) {
		width: 52%;
	}
	@media (max-width: 750px) {
		width: 54%;
	}
	@media (max-width: 700px) {
		width: 56%;
	}
	@media (max-width: 650px) {
		width: 60%;
	}
	@media (max-width: 600px) {
		width: 65%;
	}
	@media (max-width: 540px) {
		width: 100%;
		padding: 0 8rem;
	}

	h3 {
		margin-top: 0;
	}
}

.contact-flex {
	position: relative;
	padding: 10rem 0 6rem;

	a {
		color: $yellow;

		&:hover {
			padding-bottom: 0.5rem;
			color: $lightwhite;
			border-bottom: 1px solid $yellow;
		}
	}

	.line {
		width: 8rem;
		top: 28rem;
		border-bottom: 0.6rem solid $white;
	}

	p {
		padding: 2rem 0;
	}
}

// STYLING OF THE FORM
// Remove the default wpcf7 style
form input, textarea {
	width: 100%;
	margin: 1.5rem 0;
	padding: 1.5rem;
	border: none;
	border-radius: 0.6rem;
	background: $lightgrey;
}

form input[type=submit] {
	width: 50%;
	color:$blue;
	background: $yellow;
	transition: 0.5s;

	@media (max-width: 450px) {
		width: 80%;
	}

	&:hover {
		background: $lightwhite;
	}
}

form input[type=text] {
	margin-top: 0;
}

.contact-flex form p {
	margin: 0;
	padding: 0;
}

div.wpcf7-mail-sent-ok, div.wpcf7-response-output {
	border-radius: 0.6rem;
	width: 80%;
	border: 2px solid $yellow;
	padding: 2rem;
}

span .wpcf7-not-valid-tip {
	color: $yellow;
}

//  Remove the animation when the email is send.
form .ajax-loader {
	display: none;
}

input:-webkit-autofill, textarea:-webkit-autofill  {
	-webkit-box-shadow: 0 0 0px 1000px $white inset;
	border: 1px solid $white;
}

textarea, input, input:focus, input:active, ::-webkit-input-placeholder, a {
		outline: none;
}
