.flex-left{
	background: $blue;
	position: relative;
	text-align: center;
	padding: 4rem 0;

	.menu {
		margin: 0;
		padding: 2rem 0;
		display: flex;
		flex-flow: wrap;

	}
	
	.line {
		border-bottom: 2px solid $white;
		width: 10%;
		position: relative;
		top: 12rem;
		left: 50%;
		transform: translateX(-50%);
	}

	.line:nth-child(2){
		top: 22rem;
	}

	#menu-menu-1 {
		flex-flow: column;
		li {
			padding: 4rem;
		}

		a {
				padding: 10px;
				color: $white;
			}
	}
	#menu-social-media-links {
		position: absolute;
		margin: 2rem;
		bottom: 2rem;
		right: 0;
		left: 0;

		li {
		flex: 1 0 33.3%;
			a {
				padding: 10px;
				color: $grey;
			}
		}

	
	}
}


