// GENERAL STYLING

body {
	font-size: 1.6rem;

	@media (max-width:400px){
		font-size: 1.4rem;
	}
}

h1 {
	font-family: "Montserrat";
	font-size: 4.5rem;
	line-height: 6.5rem;
	color: $blue;
	
	@media (max-width: 1050px) {
		font-size: 4rem;
		line-height: 5.8rem;
	}

	@media (max-width: 960px) {
		font-size: 3.6rem;
		line-height: 5.4rem;
	}

	@media (max-width: 860px){
		font-size: 3.4rem;
		line-height: 5.2rem;
	}

	@media (max-width: 620px){
		font-size: 3.2rem;
	}

	@media (max-width: 400px){
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 3rem;
	margin-top: 1rem;

}

h3 {
	font-family: "Playfair Display";
	font-size: 4.5rem;

	@media (max-width: 400px){
		font-size: 4rem;
	}
}

h4 {	
 	position: absolute;
 	font-family: "Playfair Display";
	color: $white;
	font-size: 28rem;
	text-align: center;
	line-height: 0;
	margin: 0;
	padding: 0;

	@media (max-width: 1200px) {
		font-size: 25rem;
	}
	@media (max-width: 1200px) {
		font-size: 22rem;
	}
}

p {
	line-height: 1.5;
}

ul li, ol li {
	padding: 3px;
}

a {
	color: $blue
}

// STYLING PER AREA
.flex-left {
	font-size: 1.6rem;
	color: $white;

	#menu-social-media-links {
		font-size: 2.2rem;
	}
}

.biography-quote {
	color: $white;

	p {
		line-height: 3rem;
	}
}

.biography-background span {
	font-family: "Playfair Display";
	font-size: 40rem;
	line-height: 0;
	color: $bluefooter;
}

.contact {
	color: $lightgrey;
}

.skills {
	font-size: 2rem;
	font-weight: 700;
	color: $bluefooter;
}

footer #menu-social-media-links-1 i{
	font-size: 2rem;
}

.portfolio-text p {
	line-height: 2.8rem;
}


