body {
	font-size: 1.6rem;
}

.flex-left {
	color: $white;
	font-size: 1.6rem;

}

header {
	font-size: 4.2rem;
	color: $blue;

	a{
		color: $blue;
	}
}

.contact {
	h3 {
		font-family: "Playfair Display";
		font-size: 4.5rem;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
